{
  "presets": ["env"],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
            "trees": "./tree/__tests__/trees.js"
          }
        }]
      ]
    }
  }
}